@import '../../styles/_colors.scss';
@import '../../styles/_variables.scss';

.newsHomepageWrapper {
  height: 441px;
  display: flex;
  width: 100%;
  box-shadow: $boxShadow;
  margin-bottom: 40px;

  .leftSection {
    height: 100%;
    width: 65%;
  }

  .rightSection {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;

    .first {
      height: 50%;
      width: 100%;
    }

    .second {
      height: 50%;
      width: 100%;
    }
  }
}